# These will be automatically created by Neon Launchpad (https://neon.new).
# You will also need to 
VITE_DATABASE_URL=
VITE_DATABASE_URL_POOLER=
RESERVATION_TIME_MINUTES=10
APP_HOST=http://localhost:3000